<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Jimmy</title>
  <style>

.material-header, .edit-time-table-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.workoutpref-landing-title, .material-title {
  font-size: 1.2em; /* Larger font size for readability */
}

.edit-workoutpref-table {
  width: 100%;
  border-collapse: collapse;
}

.edit-workoutpref-table th, .edit-workoutpref-table td {
  text-align: center;
  padding: 8px;
}

/* Responsive Table */
@media screen and (max-width: 600px) {
  .material-header, .material-banner {
    flex-direction: column;
  }

  .material-title, .workoutpref-landing-title {
    font-size: 1.5em; /* Increase font size for small screens */
  }

  /* Ensure back button and icons are easily clickable */
  .material-back-button, .material-symbols-outlined {
    font-size: 2em; /* Larger icons */
    margin: 10px 0; /* More space around icons */
  }
}
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3DBAE;">
    <div class="container">
      <!-- Back button with an image and text -->
      <%= link_to time_preferences_index_path, class: "navbar-brand" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'img-fluid', style: 'height: 24px;') %>
        <span class="ml-1">Back</span>
      <% end %>
      <h1 class="navbar-text mx-auto my-auto var(--primary-text-color)">Time Preferences</h1>
      <%# Centering the title with identical content on the right %>
      <div class="navbar-brand">
        <span class="right-placeholder mr-1"> Back </span>
         <%= image_tag('back_arrow.png', alt: 'Back', class: 'hidden-arrow', style: 'height: 24px;') %>
      </div>
    </div>
  </nav>

  <div class = "general-div-main">
    <div class = "general-div-inner">
      <p class="edit-form-label">Customize your preferred times</p>
      <p class = "edit-form-label edit-form-subscript">
        We will prioritize matching you with people who are active at the same times as you.
      </p>
      <br>
      <div class="edit-time-table-div time-table-div">
        <%= form_with model: @time_preference, url: time_preferences_path, method: :patch do |form| %>
          <div class = "edit-workoutpref-div time-table-div">
            <table summary="Added activities" class="edit-workoutpref-table">
              <thead>
                <tr class="time-table-header-row">
                  <th></th>
                  <th class="edit-form-label">Morning</th>
                  <th class="edit-form-label">Afternoon</th>
                  <th class="edit-form-label">Evening</th>
                  <th class="edit-form-label">Night</th>
                </tr>
              </thead>
              <tbody>
                <% @time_table.each do |day, times| %>
                  <tr class =  "timetable-row edit-workout-pref-table-tr">
                    <th class = "edit-form-label edit-form-subscript"><%= day %></th>
                    <% ['Morning', 'Afternoon', 'Evening', 'Night'].each_with_index do |time_of_day, index| %>
                      <td>
                        <%= check_box_tag "time_preferences[#{day}][#{time_of_day}]", '1', times.include?(time_of_day) %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%= form.submit "Save changes", class: "material-button time-pref-edit-submit-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</body>