<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jimmy</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3DBAE;">
    <div class="container">
      <!-- Back button with an image and text -->
      <%= link_to students_matching_preferences_path, class: "navbar-brand" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'img-fluid', style: 'height: 24px;') %>
        <span class="ml-2">Back</span>
      <% end %>
      <!-- Title of the page -->
      <h1 class="navbar-text mx-auto my-auto var(--primary-text-color)">Gender Preference</h1>
    </div>
  </nav>
  <div class="general-div-main">
    <div class="general-div-inner"> 
      <%= form_with(model: @current_student, local: true, method: :patch) do |form| %>
        <div>
          <p class = "edit-form-label">Workout partner gender prefernce</p>
          <p class = "edit-form-label edit-form-subscript">
            Please select from the list below for genders that you would like to consider for matchmaking. </p>
          <p></p>
        </div>

        <div class="checkbox-container">
          <div>
            <%= form.label :gender_pref_female, 'Female' %>
            <div>
              <%= form.check_box :gender_pref_female %>
            </div>
          </div>
          <div>  
            <%= form.label :gender_pref_male, 'Male' %>
            <div>
              <%= form.check_box :gender_pref_male %>
            </div>
          </div>
          <div>
            <%= form.label :gender_pref_other, 'Other' %>
            <div>
              <%= form.check_box :gender_pref_other %>
            </div>
          </div>
        </div>
        <div class="submit-button-container">
          <%= form.submit "Save", class: "material-button" %>
        </div>
      <% end %>  
      <%= render 'pages/flash' %>
    </div>
  </div>    
</body>
</html>