<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3DBAE;">
    <div class="container">
      <!-- Back button with an image and text -->
      <%= link_to students_settings_path, class: "navbar-brand" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'img-fluid', style: 'height: 24px;') %>
        <span class="ml-2">Back</span>
      <% end %>
      <!-- Title of the page -->
      <h1 class="ml-auto">Matching Preferences</h1>
    </div>
  </nav>
  <div class="edit-profile-main">
    <div class = "profile-header-inner">
      <div class="edit-profile-info">
        <%= render 'pages/flash' %>
        <div class = "personal_info_main">
          <div class="students-listed-info-div">
            <%= link_to students_edit_gender_pref_path, class: 'info-row' do %>
              <div class="info-row-title">Preferred gender of workout partners</div>
              <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Instagram Link" %>
            <% end %>
            <%= link_to students_edit_age_pref_path, class: 'info-row' do %>
              <div class="info-row-title">Preferred age of workout partners</div>
              <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Instagram Link" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>