<h1>Account Creation</h1>
<body class="students-text top-pad"> 
  <%= form_for(@student) do |s| %>
    <table class="students-info-table">
      <tr>
      <th>What's your TAMU email? (example@tamu.edu)</th>
      <td><%= s.text_field(:email) %></td>
      </tr>

      <tr>
      <th>What's your name? (First Last)</th>
      <td><%= s.text_field(:name) %></td>
      </tr>

      <tr>
        <th>What gender do you identify as?</th>
        <td>
          <%= s.select :gender, ['Male', 'Female', 'Other'], {}, { required: true } %>
        </td>
      </tr>

      <tr>
      <th>When's your birthday?</th>
      <td><%= s.date_field(:birthday) %></td>
      </tr>

    </table>
    <div>
      <%= s.submit "Create Profile", class: "btn btn-primary" %>
    </div>
  <%end%>

</body>