<%= render(partial:'back', locals:{c: "students", a: "new", s: "back-btn"}) %>

<h1>Account Creation</h1>
<body class="students-text">
  <div class = "create-student-main">
    <div class = "create-student-inner">
      <%= render 'pages/flash' %>
      <%= form_for(@student) do |s| %>
        <table class="students-info-table">
          <tr>
            <th>
              Name
              <%= s.text_field(:name, placeholder: 'First Last', class: 'styled-input') %>
            </th>
          </tr>

          <tr>
            <th>
              Gender Identification Preference
              <%= s.select :gender, [
                ['Please select gender', ''],
                ['Male', 'Male'],
                ['Female', 'Female'],
                ['Other', 'Other']
                ], {}, { class: 'styled-select', required: true }
              %>
            </th>
          </tr>

          <tr>
            <th>
              Select Your Birthday
              <%= s.date_field(:birthday, placeholder: 'Select your birthday', class: 'styled-input') %>
            </th>
          </tr>

        </table>
        <div>
          <%= s.submit "Create Profile", class: "students-button" %>
        </div>
      <% end %>
    </div>
  </div>
</body>
