<%= render(partial:'back', locals:{c: "students", a: "new"})%>

<h1>Account Creation</h1>
<body class="students-text"> 
  <%= form_for(@student) do |s| %>
    <table class="students-info-table">
      <tr>
        <th>
          <%= s.text_field(:name, placeholder: 'Name', class: 'styled-input') %>
        </th>
      </tr>

      <tr>
        <th>
          <%= s.text_field(:email, placeholder: 'Email@tamu.edu', class: 'styled-input') %>
        </th>
      </tr>

      <tr>
        <th>
          <%= s.select :gender, [
            ['Please select gender', ''],
            ['Male', 'Male'],
            ['Female', 'Female'],
            ['Other', 'Other']
            ], {}, { class: 'styled-select', required: true }
          %>
        </th>
      </tr>

      <tr>
        <th>
          <%= s.date_field(:birthday, placeholder: 'Select your birthday', class: 'styled-input') %>
        </th>
      </tr>

    </table>
    <div>
      <%= s.submit "Create Profile", class: "students-button" %>
    </div>
  <% end %>
</body>
