<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jimmy</title>
</head>
<body>
  <%= render 'pages/navbar_inner_page' %>
  <div class="general-div-main">
    <div class="general-div-inner">      
        <div class="edit-profile-info">
          <h2 class = "profile-name">Are you sure you want to delete your account?</h2>
          <p class = "edit-form-subscript">This action cannot be undone.</p>
          <div class="submit-button-container cancel-delete-account-container">
            <%= link_to students_settings_path, class: "material-button" do %>Cancel<% end %>
          </div>
          <%= form_with(url: student_path(@current_student), method: :delete) do |form| %>
            <%= form.submit 'Delete my account', class: "material-button material-button-ghost" %>
          <% end %>
      </div>
      <%= render 'pages/flash' %>
    </div>
  </div>    

  </body>
</html>