<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jimmy</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3DBAE;">
    <div class="container">
      <!-- Back button with an image and text -->
      <%= link_to students_settings_path, class: "navbar-brand" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'img-fluid', style: 'height: 24px;') %>
        <span class="ml-2">Back</span>
      <% end %>
      <!-- Title of the page -->
      <h1 class="ml-auto">Delete Account</h1>
    </div>
  </nav>
  <div class="edit-profile-main">
    <div class="edit-profile-inner">      
        <div class="edit-profile-info">
          <h2 class = "profile-name">Are you sure you want to delete your account?</h2>
          <p class = "edit-form-subscript">This action cannot be undone.</p>
          <div class="submit-button-container cancel-delete-account-container">
            <%= link_to students_settings_path, class: "material-button" do %>Cancel<% end %>
          </div>
          <%= form_with(url: student_path(@current_student), method: :delete) do |form| %>
            <%= form.submit 'Delete my account', class: "material-button delete-account-button" %>
          <% end %>
      </div>
      <%= render 'pages/flash' %>
    </div>
  </div>    

  </body>
</html>