<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>
<body>
  <%= render 'pages/navbar' %>
  <!-- logo -->
  <!-- intro -->
  <div class="profile-header">
    <div class = "profile-header-inner">
      <div class="profile-picture-div">
        <img class="profile-picture" src="https://i.pinimg.com/736x/d7/1d/1a/d71d1a41b69bbbf2ca2d94b918d86faf.jpg">
      </div>
      <div class="profile-info">
        <p class="profile-name"><%= @current_student.name %><p>
        <p>Computer Science • 2025</p>
        <div class = "socials-bar">
          <%= image_tag asset_path("instagram_icon.png"), class: "social-link", alt: "Instagram Link" %>
          <%= image_tag asset_path("x_icon.png"), class: "social-link", alt: "X Link" %>
          <%= image_tag asset_path("snapchat_icon.png"), class: "social-link", alt: "Snapchat Link" %>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-body">
    <div class="profile-body-inner">
      <p class="profile-title">About Me</p>
      <p> Hi! I am a Computer Science major at Texas A&M University. I am looking for a gym buddy to workout with. I am open to any one.</p> 
      <p class="profile-title">Workouts</p>
      <li class="profile-body-text">Badminton</li>
      <li class="profile-body-text">Walks</li>
      <li class="profile-body-text">431 with Pauline Wade</li>
    </div>
    
  </div>

  


  <!-- below could be links too -->
  <!-- the onclick part should be a function in the controller to determine
  where the user is taken to after log in -->
</body>
</html>