<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>
<body>
  <%= render 'pages/navbar' %>
  
  <div class="container profile-section profile-header">
    <div>
      <div class="row justify-content-center">
        <div class="col-10 col-md-6 col-lg-4 text-center">
          <% if @student.profile_picture_url.present? %>
            <%= image_tag @student.profile_picture_url, class: "profile-picture img-fluid mb-3", alt: "Profile Picture" %>
          <% else %>
            <%= image_tag "https://canadabeercup.com/wp-content/uploads/2022/09/generic-profile-picture-1200x1200-1.jpg", class: "profile-picture img-fluid mb-3", alt: "Profile Picture" %>
          <% end %>
          <h2 class="profile-name"><%= @student.name %></h2>
          <p class="major-and-class"><%= @major_and_class %></p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 text-center socials-bar">
          <% if @student.instagram_url.present? %>
            <%= link_to "https://#{@student.instagram_url}", target: "_blank", class: "mx-2" do %>
              <%= image_tag asset_path("instagram_icon.png"), class: "social-link", alt: "Instagram Link" %>
            <% end %>
          <% end %>

          <% if @student.x_url.present? %>
            <%= link_to "https://#{@student.x_url}", target: "_blank", class: "mx-2" do %>
              <%= image_tag asset_path("x_icon.png"), class: "social-link", alt: "X Link" %>
            <% end %>
          <% end %>
        </div>
        <div class = "relationship-controls-container">
            <% if @can_send_match_request %> 
              <%= button_to 'Send Match Request', 
              match_path(@match, action_name: 'send_match_request'), 
              method: :patch,
              class: "material-button"%>
            <% end %>
            <% if @can_cancel_match_request %>
              <%= button_to 'Cancel Match Request', 
              match_path(@match, action_name: 'cancel_match_request'), 
              method: :patch,
              class: "material-button"%>
            <% end %>
            <% if @can_accept_match_request %>
              <%= button_to 'Accept Match Request', 
              match_path(@match, action_name: 'accept_match_request'), 
              method: :patch,
              class: "material-button"%>
            <% end %>
            <% if @can_reject_match_request %>
              <%= button_to 'Decline Match Request', 
              match_path(@match, action_name: 'reject_match_request'), 
              method: :patch,
              class: "material-button"%>
            <% end %>
            <% if @can_unmatch %>
              <%= button_to 'Unmatch', 
              match_path(@match, action_name: 'unmatch'), 
              method: :patch,
              class: "material-button"%>
            <% end %>
            <% if @can_block %>
              <%= button_to 'Block User', 
                match_path(@match, action_name: 'block'), 
                method: :patch,
                class: "material-button"%>
              <% end %>
            <% if @can_unblock %>
              <%= button_to 'Unblock User', 
              match_path(@match, action_name: 'unblock'), 
              method: :patch,
              class: "material-button"%>
            <% end %>
            <% if @number != -1%>
              <% if mobile_device?%>
                <%= link_to 'Contact via SMS', 
                "sms:#{@number}?body=Howdy! We've matched on Jimmy, lets work out!", 
                class: "material-button dark-material-button" %>
              <% else %>
                <%= tag.button "Contact via SMS", data: {controller: "clipboard", action: "clipboard#copy"}, class: "material-button dark-material-button" %>
                <div id="phoneNumber" style="display:none;"><%=@number%></div>
                <script type="module">
                  import { copyTextToClipboard } from 'clipboard';
                  console.log("test"); // Confirming that the script is loading
                
                  document.addEventListener('turbo:load', () => {
                    const copyButton = document.querySelector('button[data-controller="clipboard"]');
                    if (copyButton) { // Checking if the button exists
                      copyButton.addEventListener('click', () => {
                        copyTextToClipboard('phoneNumber'); 
                    console.log("test2")

                      });
                    } else {
                      console.error('Copy button was not found.'); // Error handling if button isn't found
                    }
                  });
                </script>
              <% end %>
            <% end %>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class = "linear-divider"></div>

  <div class = "container">
    <div class = "profile-content-outer">
      <div class = "profile-content">
        <div class="row">
          <div class="col">
            <% if @student.biography.present? %>
              <p class="profile-name">About Me</p>
              <p class="profile-body-text"><%= @student.biography %></p>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h3 class="profile-name">Workouts</h3>
            <% if @current_activities.empty? %>
              <p class="profile-body-text">This user has not added any workouts</p>
            <% else %>
              <% @current_activities.each do |name|%>
                <li class="profile-body-text"><%=name%></li>
              <%end%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  

  <!-- below could be links too -->
  <!-- the onclick part should be a function in the controller to determine
  where the user is taken to after log in -->
</body>
</html>