<!-- app/views/students/show.html.erb -->
<%= link_to 'Back', :back %> <!-- This link takes the user back to the previous page -->

<h1>Student Details</h1>

<p>Name: <%= @student.name %></p>
<p>Email: <%= @student.email %></p>
<p>Gender: <%= @student.gender %></p>
<p>Birthday: <%= @student.birthday %></p>