<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Include Bootstrap CSS for responsiveness -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Jimmy</title>
</head>
<body style="background-color: rgb(247, 233, 206);">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <%= link_to students_settings_path, class: "navbar-brand" do %>
          <span>Back</span>
        <% end %>
        <h1>Profile Settings</h1>
    </div>
  </nav>


  <div class="container mt-4">
    <%= render 'pages/flash' %>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="settings-card">
          <%= link_to students_edit_instagram_url_path, class: 'info-row' do %>
            <div class="info-row-title">Link Instagram</div>
            <div class="info-row-content"><%= @current_student.instagram_url %></div>
            <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Instagram Link" %>
          <% end %>
        </div>
        <div class="settings-card">
          <%= link_to students_edit_x_url_path, class: 'info-row' do %>
            <div class="info-row-title">Link X</div>
            <div class="info-row-content"><%= @current_student.x_url %></div>
            <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Instagram Link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
