<body class="students-text">
  <%= render 'pages/navbar_inner_page' %>
  <div class = "general-div-main">
      <div class = "general-div-inner">
      <%= render 'pages/flash' %>
      <%= form_for(@current_student) do |s| %>
          <table class="students-edit-info-form">
          <tr class = "students-edit-info-form-row">
              <th class = "edit-form-label">
              Major
              <%= s.text_field(:major, placeholder: 'College Major', class: 'custom-styled-input') %>
              </th>
          </tr>
          <tr class = "students-edit-info-form-row">
              <th class = "edit-form-label">
              Graduation Year
              <%= s.text_field(:grad_year, placeholder: 'Graduation Year', class: 'custom-styled-input') %>
              </th>
          </tr>

          <tr class = "students-edit-info-form-row">
              <th class = "edit-form-label">
              Biography
              <%= s.text_field(:biography, placeholder: 'Biography', class: 'custom-styled-input') %>
              </th>
          </tr>
          </table>
          <br>
          <div class = "profile-creation-button-div">
            <div class="left">
              <%= link_to "Skip for now", students_index_path, class: "material-button dark-material-button", role: "button" %>
            </div>
            <div class = "right"><%= s.submit "Next", class: "material-button dark-material-button" %></div>
          </div>
      <% end %>
      </div>
  </div>
</body>
