<%= form_for @new_pref do |form| %>
  <div class="experience-select-btn">
    <% @levels.each do |level| %>
      <div class="radio-label-pair">
        <%= form.radio_button :experience_level, level, class: "bullet" %>
        <%= form.label level, level %>
      </div>
    <% end %>
  </div>
    
  <%= form.hidden_field :activity_id, value: @activity.id %> 
  <%= form.submit 'Save', class: 'edit-save-btn' %>
<% end %>