<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>

<body>
  <%= render(partial:'back', locals:{c: "activities", a: "new", s: "edit-back-btn"}) %>

  <h1 class="activity-landing-title"> Select your experience level for <%=@activity.activity_name%>... </h1>
  <div class="experience-select-div">

    <%= form_with model: @new_pref, url: activity_preferences_path, method: :post do |form| %>
        <div class="experience-select-btn">
          <% @levels.each do |level| %>
            <%= form.radio_button :experience_level, level %>
            <%= form.label level, level %><br>
          <% end %>
        </div>
      
        <%= form.hidden_field :activity_id, value: @activity.id %> <!-- Add this line -->
      
        <%= form.submit 'Save', class: 'edit-save-btn' %>
      <% end %>

  


  </div>

</body>