<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>

<body>
  <%= render 'pages/navbar_inner_page' %>

  <% @activity=Activity.find(params[:id])%>
  <div class="general-div-main">
    <div class="general-div-inner"> 
      <p class = "edit-form-label">Select your experience level</p>
      <p class = "edit-form-label edit-form-subscript">
        This will help us match you with students who have similar experience levels.  
      </p>
      <p></p>

        <%= form_for @new_pref do |form| %>
          <div class="experience-select-btn">
            <% @levels.each do |level| %>
              <div class="radio-label-pair">
                <%= form.radio_button :experience_level, level, class: "bullet" %>
                <%= form.label level, level, class: "edit-form-label edit-form-subscript", style: "margin-bottom: 0.5rem; margin-left: 0.5rem;" %>
              </div>
            <% end %>
          </div>
          <br>
          <%= form.hidden_field :activity_id, value: @activity.id %> 
          <%= form.submit 'Save', class: 'material-button' %>
        <% end %>
      <br>
    </div>
  </div>

</body>