<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>

<body>
  <h1 class="activity-landing-title"> Add some activities you are interested in ... </h1>
  <div class="edit-workoutpref-div">
  <table summary="Added activities" class="edit-workoutpref-table">
    <tr>
      <th>Name</th>
      <th>Experience</th>
    </tr>
    <% @current_activities.zip(@exp_levels).each do |activity_name, exp| %>
    <tr>
      <td><%= activity_name%></td>
      <td><%= exp %></td>
      <td> 
        <% activity = ActivityPreference.find_by(student_email: @current_student.email, activity_id: (Activity.find_by(activity_name: activity_name)).id)%>
        <%= form_with(model: activity, url: activity_preference_path(activity), method: :delete) do |form| %>
          <%= form.submit 'Delete', class: "material-symbols-outlined edit-workoutpref-add-btn" %>
        <% end %>
      </td>
    </tr>
    <% end %>

    <tr>
      <td> Add Activity </td>
      <td> </td>
      <td> <%= render(partial:'add', locals:{c: "activity_preferences", a: "new"}) %> </td>
  </table>
  </div>
</body>