<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>

<body>
  <%= render 'pages/navbar_inner_page' %>

  <div class = "general-div-main">
  <div class = "general-div-inner">
    <p class="edit-form-label">Enter your preferred activities</p>
    <p class = "edit-form-label edit-form-subscript">
      This will help us match you with people who enjoy the same activities as you.
    </p>
    <p class = "edit-form-label edit-form-subscript">
      Your experience level helps us match you with people who are at a similar level.
    </p>
    <% if @current_activities.length != 0 %>
      <br>
      <div class="edit-workoutpref-div">
        <table summary="Added activities" class="edit-workoutpref-table">
          <% @current_activities.zip(@exp_levels).each_with_index do |(activity_name, exp), index| %>
            <% row_class = (index == @current_activities.length - 1) ? "edit-workout-pref-table-add-tr" : "edit-workout-pref-table-tr" %>
            <tr class="<%= row_class %>">
              <td class="edit-form-label edit-form-subscript">
                <%= activity_name %><%= " (#{exp})" if exp.present? %>
              </td>
              <td class = "table-icon"> 
                <% activity = ActivityPreference.find_by(student_email: @current_student.email, activity_id: (Activity.find_by(activity_name: activity_name)).id)%>
                <%= form_with(model: activity, url: activity_preference_path(activity), method: :delete) do |form| %>
                  <%= form.button class: "edit-workoutpref-add-btn" do %>
                    <%= image_tag('remove_icon.png', alt: 'Delete', class: 'table-icon') %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
    <br>
    <div class="settings-card">
      <a class="info-row" id = "addNewActivityBar" style="background-color: var(--accent-color); color:white;" data-bs-toggle="collapse" href="#addNewActivity" role="button" aria-expanded="false" aria-controls="addNewActivity">
        <div class="info-row-title">Add a new activity</div>
        <%= image_tag asset_path("down_arrow.png"), id: "toggle-arrow", class: "forward-arrow", alt: "Forward Arrow" %>
      </a>
      <div class="collapse" id="addNewActivity">
        <h1 class="profile-name">Search For Activities </h1>
        <div class="search-bar">
          <%= text_field_tag :query, params[:query], placeholder: "Soccer", id: 'search-input' %>
        </div>

        <script>
          document.addEventListener('turbo:load', function() {
            const searchInput = document.getElementById('search-input');
            const activityRows = document.querySelectorAll('#activities_list tr[data-activity-name]');
            const toggleArrow = document.getElementById('toggle-arrow');
            const addNewActivity = document.getElementById('addNewActivityBar');
            
            document.querySelector('a[data-bs-toggle="collapse"]').addEventListener('click', function() {
              console.log("test")

              const isOpen = toggleArrow.src.includes('up_arrow');
              toggleArrow.src = isOpen ? '<%= asset_path("down_arrow.png") %>' : '<%= asset_path("up_arrow.png") %>';
              
              setTimeout(() => {
                addNewActivity.scrollIntoView({ behavior: 'smooth', block: 'start' });
              }, 350); // Adjust the timeout duration to match your collapse animation duration
            });

            searchInput.addEventListener('input', function() {
              const searchQuery = searchInput.value.toLowerCase();

              var lastRow = null;
              activityRows.forEach(function(row) {
                // Retrieve the activity name from the data-activity-name attribute
                const activityName = row.getAttribute('data-activity-name').toLowerCase();
                row.classList.remove('edit-workout-pref-table-add-tr');
                row.classList.remove('edit-workout-pref-table-tr');
                row.classList.add('edit-workout-pref-table-tr');
                if (activityName.includes(searchQuery)) {
                  row.style.display = ''; // Show the row if it matches
                  lastRow = row;
                } else {
                  row.style.display = 'none'; // Hide the row if it doesn't match
                }
              });

              lastRow.classList.remove('edit-workout-pref-table-tr');
              lastRow.classList.add('edit-workout-pref-table-add-tr');
            });
          });
        </script>
        <div class="general-div-inner">
          <div class="edit-workoutpref-div">
            <table summary="Added activities" id = "activities_list" class="edit-workoutpref-table">
              <% @activities.each do |activity|%>
                <% if activity != @activities.last %>
                  <tr data-activity-name="<%= activity.activity_name.downcase %>" class = "edit-workout-pref-table-tr">
                    <td class = "edit-form-label edit-form-subscript"><%=activity.activity_name%></td>
                    <td class = "table-icon"> 
                      <%= button_to(experience_activity_preference_path(activity), method: :get, class: "material-symbols-outlined edit-workoutpref-add-btn") do %>
                        <%= image_tag asset_path("add_icon.png"), class: "table-icon", alt: "Add item" %>
                      <% end %>
                    </td>
                  </tr>
                <% else %>
                  <tr data-activity-name="<%= activity.activity_name.downcase %>" class = "edit-workout-pref-table-add-tr">
                    <td class = "edit-form-label edit-form-subscript"><%=activity.activity_name%></td>
                    <td class = "table-icon"> 
                      <%= button_to(experience_activity_preference_path(activity), method: :get, class: "material-symbols-outlined edit-workoutpref-add-btn") do %>
                        <%= image_tag asset_path("add_icon.png"), class: "table-icon", alt: "Add item" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <%end%>
            </table>
          </div>
        </div>
      </div>
      <% if @render_account_creation_nav %>
        <br>
        <br>
        <div class = "profile-creation-button-div">
          <div class="left">
            <%= link_to "Skip for now", students_index_path, class: "material-button dark-material-button", role: "button" %>
          </div>
          <div class = "right"><%= link_to "Next", gym_preferences_path, class: "material-button dark-material-button" %></div>
        </div>
      <% end %>
    <%= render 'pages/flash' %>
  </div>
</div>
</body>
