<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Jimmy</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3DBAE;">
    <div class="container">
      
      <%= link_to activity_preferences_path, class: "navbar-brand" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'img-fluid', style: 'height: 24px;') %>
        <span class="ml-1">Back</span>
      <% end %>
      <h1 class="navbar-text mx-auto my-auto var(--primary-text-color)">Add Activity</h1>
      <%# Centering the title with identical content on the right %>
      <div class="navbar-brand">
        <span class="right-placeholder mr-1"> Back </span>
         <%= image_tag('back_arrow.png', alt: 'Back', class: 'hidden-arrow', style: 'height: 24px;') %>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="general-div-main">
      <div class="general-div-inner">


        <h1 class="profile-name">Seach For Activities </h1>
        <br>

        <%= form_tag(new_activity_preference_path, method: :get, id: 'search-form', remote: true) do %>
          <div class="search-bar">
            <%= text_field_tag :query, params[:query], placeholder: "Soccer", id: 'search-input' %>
          </div>
          <%= submit_tag "Search", class: "material-button", id: 'search-submit' %>
        <% end %>

      </div>
    </div>
  </div>

  <% if @activities != -1 %>
  
    <div class = "linear-divider"></div>

    <div class="container">
      <div class="general-div-main">
        <div class="general-div-inner">
          <h1 class="profile-name">Search Results</h1>
          <br>
          <div class="edit-workoutpref-div">
            <table summary="Added activities" class="edit-workoutpref-table">
              <% @activities.each do |activity|%>
                <% if activity == @activities.last %>
                  <tr class = "edit-workout-pref-table-add-tr">
                    <td class = "edit-form-label edit-form-subscript"><%=activity.activity_name%></th>
                    <td class = "table-icon"> 
                      <%= button_to(experience_activity_preference_path(activity), method: :get, class: "material-symbols-outlined edit-workoutpref-add-btn") do %>
                        <%= image_tag asset_path("add_icon.png"), class: "table-icon", alt: "Add item" %>
                      <% end %>
                    <td>
                  </tr>
                <% else %>
                  <tr class = "edit-workout-pref-table-tr">
                    <td class = "edit-form-label edit-form-subscript"><%=activity.activity_name%></th>
                    <td class = "table-icon"> 
                      <%= button_to(experience_activity_preference_path(activity), method: :get, class: "material-symbols-outlined edit-workoutpref-add-btn") do %>
                        <%= image_tag asset_path("add_icon.png"), class: "table-icon", alt: "Add item" %>
                      <% end %>
                    <td>
                  </tr>
                <% end %>
                
              <%end%>
            </table>
          </div>
        </div>
      </div>
      <br>
    </div>
  <% end %>
</div>

</body>