<!-- app/views/pages/_navbar.html.erb -->

<nav class="navbar">
  <div class="navbar-links">
    <%= link_to 'Home', pages_home_path, class: "navbar-link" %>
    <%= link_to 'Match', pages_match_path, class: "navbar-link" %>
    <%= link_to 'Profile', students_index_path, class: "navbar-link" %>
    <%= link_to 'Settings', students_settings_path, class: "navbar-link" %>
    <%= link_to 'Logout', root_path, class: "navbar-link" %>
  </div>
</nav>
