<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Browse</title>
</head>
<body>
  <%= render 'pages/navbar' %>
  <!-- Search Bar -->
  <div class="browse-main">
    <div class ="browse-inner">
      <h1 class = "profile-name">Browse Users</h1>
      <%= form_tag(pages_browse_path, method: :get, id: 'search-form', remote: true) do %>
        <div class="search-bar">
          <%= text_field_tag :query, params[:query], placeholder: "Search users by name", id: 'search-input' %>
        </div>
        <!-- Checkboxes for gender preference -->
        <div class="gender-filters">
          <label>
            <%= check_box_tag :male, '1', params[:male] %>
            Male
          </label>

          <label>
            <%= check_box_tag :female, '1', params[:female] %>
            Female
          </label>

          <label>
            <%= check_box_tag :other, '1', params[:other] %>
            Other
          </label>
        </div>

        <%= submit_tag "Search", class: "material-button", id: 'search-submit' %>
      <% end %>
    </div>
    <div class = "browse-results">
      <% if @results != -1 %>
        <br><br>
        <div class = "linear-divider"></div>
        <div class = "browse-inner">
          <%if @results.present? %>
          <h2>Search Results for "<%= @query %>"</h2>
          <p> <%= @results.count %> result(s) found </p>  
          <table class="students-edit-info-form">
            <tbody>
              <% @results.each do |student| %>
                <tr>
                  <%= link_to student_path(student), class: 'info-row' do %>
                    <div class = "pfp-name-pair">
                    <% if student.profile_picture_url.present? %>
                      <%= image_tag student.profile_picture_url, class: "profile-pic", alt: "Profile Picture" %>
                    <% else %>
                      <%= image_tag "https://canadabeercup.com/wp-content/uploads/2022/09/generic-profile-picture-1200x1200-1.jpg", class: "profile-pic", alt: "Profile Picture" %>
                    <% end %>
                    <div class="info-row-title"><%= student.name %></div>

                    </div>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% else %>
            <p>No results found for "<%= @query %>"</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>


  
  

</body>
</html>
