<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>
<body>
  <%= render 'pages/navbar' %>
  <!-- logo -->
  <!-- intro -->
  <div class="home-title">
    <p>You're signed in!</p>
  </div>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">

        <div class = "settings-card">
          <%= link_to matches_incoming_path, class: 'info-row' do %>
            <div class="info-row-title">View list of incoming match requests</div>
            <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Arrow" %>
          <% end %>  
        </div>

        <div class = "settings-card">
          <%= link_to matches_pending_path, class: 'info-row' do %>
            <div class="info-row-title">View list of outgoing match requests</div>
            <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Arrow" %>
          <% end %> 
        </div>

        <div class = "settings-card">
          <%= link_to matches_matched_path, class: 'info-row' do %>
            <div class="info-row-title">View list of users you've matched with</div>
            <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Arrow" %>
          <% end %> 
        </div>
      </div>
    </div>
</body>
</html>
