<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>
<body>
  <%= render 'pages/navbar' %>

  <%= button_to 'Browse', pages_browse_path, method: :get%>

  <!-- logo -->
  <!-- intro -->
  <%= form_with(url: students_start_matching_path, method: :get) do |form| %>
    <%= form.submit "Start Matching!", class: "btn btn-primary" %>
  <% end %>
</body>
</html>
