<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>
<body>
  <%= render 'pages/navbar' %>

  <%= button_to 'Browse', pages_browse_path, method: :get%>

  <!-- logo -->
  <!-- intro -->
  <%= form_with(url: students_start_matching_path, method: :get) do |form| %>
    <%= form.submit "Start Matching!", class: "btn btn-primary" %>
  <% end %>

  <%= link_to({controller: 'matches', action: 'pending'}, class: 'info-row') do %>
    <div class="info-row-title">View list of incoming match requests</div>
    <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Instagram Link" %>
  <% end %>
  <%= link_to({controller: 'matches', action: 'matched'}, class: 'info-row') do %>
    <div class="info-row-title">View list of users you've matched with</div>
    <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Instagram Link" %>
  <% end %>
  <%= link_to({controller: 'matches', action: 'blocked'}, class: 'info-row') do %>
    <div class="info-row-title">View list of users you've blocked</div>
    <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Instagram Link" %>
  <% end %>
</body>
</html>
