<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>
<body>
  <%= render 'pages/navbar' %>
  <div class="edit-profile-main">
    <div class = "profile-header-inner">
      <div class="edit-profile-info">
        <div class = "personal_info_main">
          <div class="students-listed-info-div">
            <%= link_to({action: 'pending'}, class: 'info-row') do %>
              <div class="info-row-title">View list of incoming match requests</div>
              <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Instagram Link" %>
            <% end %>
            <%= link_to({action: 'matched'}, class: 'info-row') do %>
              <div class="info-row-title">View list of users you've matched with</div>
              <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Instagram Link" %>
            <% end %>
            <%= link_to({action: 'blocked'}, class: 'info-row') do %>
              <div class="info-row-title">View list of users you've blocked</div>
              <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "Instagram Link" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>