<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>
<body>
   <nav class="material-header">
    <div class="material-banner">
      <%= link_to matches_path,  class: "navbar-link material-back-button" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'back-arrow-icon') %> Back
      <% end %>
      <h1 class="material-title">Matched Users</h1>
      <span class="material-spacer"></span>
    </div>
  </nav>

  <div class="card-container">
    <div class="card-grid">
        <% @matched_emails.each do |student|%>
        <div class="card-body"> 
            <h3> <%= student.name %> </h3>
            <p> <%= @major_class_hash[student] %> </p>
            <p> <%= student.biography%> </p>
        </div>
        <%end%>
    </div>
  </div>
  
</body>
</html>