<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>
<body>
  <%= render 'pages/navbar_inner_page' %>

  <div class="card-container">
    <div class="card-grid">
        <% @pending_emails.each do |student|%>
          <%= link_to student_path(id: student.email) do %>
            <div class="card-body"> 
              <h3> <%= student.name %> </h3>
              <div class="card-profile-picture-div">
                <% if student.profile_picture_url.present? %>
                  <%= image_tag student.profile_picture_url, class: "card-profile-picture-enlarged", alt: "Profile Picture" %>
                <% else %>
                  <%= image_tag "https://canadabeercup.com/wp-content/uploads/2022/09/generic-profile-picture-1200x1200-1.jpg", class: "card-profile-picture-enlarged", alt: "Profile Picture" %>
                <% end %>
              </div>
            </div>
          <%end%>
        <%end%>
    </div>
  </div>
  
</body>
</html>