<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>
<body>
  <!-- Navbar using Bootstrap classes for styling and responsiveness -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3DBAE;">
    <div class="container">
      <!-- Back button with an image and text -->
      <%= link_to students_settings_path, class: "navbar-brand" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'img-fluid', style: 'height: 24px;') %>
        <span class="ml-2">Back</span>
      <% end %>
      <!-- Title of the page -->
      <h1 class="ml-auto">Profile Settings</h1>
    </div>
  </nav>

  <!-- Main content area -->
  <div class="container mt-4">
    <!-- Flash messages -->
    <%= render 'pages/flash' %>
    <!-- Settings list -->
    <div class="list-group align-items-center">
      <!-- Mapping through each setting item -->
      <% settings = [
        { title: 'Name', value: @current_student.name, path: '/students/edit_name' },
        { title: 'Biography', value: @current_student.biography, path: '/students/edit_biography' },
        { title: 'Gender', value: @current_student.gender, path: '/students/edit_gender' },
        { title: 'Birthday', value: @current_student.birthday.strftime('%Y-%m-%d'), path: '/students/edit_birthday' },
        { title: 'Phone Number', value: @current_student.phone_number, path: '/students/edit_phone_number' },
        { title: 'Major', value: @current_student.major, path: '/students/edit_major' },
        { title: 'Graduation Year', value: @current_student.grad_year, path: '/students/edit_grad_year' },
        { title: 'Privacy', value: @current_student.is_private ? 'Private' : 'Public', path: '/students/edit_is_private' }
      ] %>

      <div class="personal_info_main">
    <div class="students-listed-info-div">
    <% settings.each do |setting| %>
      <%= link_to setting[:path], class: 'info-row' do %>
        <div class="info-row-title"><%= setting[:title] %></div>
        <div class="info-row-content"><%= setting[:value] %></div>
        <%= image_tag asset_path("forward_arrow.png"), class: "forward-arrow", alt: "#{setting[:title]} Link" %>
      <% end %>
    <% end %>
  </div>
</div>

  
  <!-- Bootstrap JS files -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>

</html>