<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jimmy</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3DBAE;">
    <div class="container">
      <!-- Back button with an image and text -->
      <%= link_to students_personal_info_path, class: "navbar-brand" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'img-fluid', style: 'height: 24px;') %>
        <span>Back</span>
      <% end %>
      <h1 class="navbar-text mx-auto my-auto var(--primary-text-color)">Edit Birthday</h1>
      <%# Centering the title with identical content on the right %>
      <div class="navbar-brand">
        <span class="right-placeholder mr-1"> Back </span>
         <%= image_tag('back_arrow.png', alt: 'Back', class: 'hidden-arrow', style: 'height: 24px;') %>
      </div>
    </div>
  </nav>

  <div class="general-div-main">
    <div class="general-div-inner">      
      <%= form_with(model: @current_student, local: true) do |form| %>
        <table class="students-edit-info-form">
          <tr class="students-edit-info-form-row">
            <th>
              <div class="edit-form-field">
                <p class = "edit-form-selector">New birthday</p>
                <%= form.date_field(:birthday, placeholder: 'Select your birthday', class: 'styled-input') %>
              </div>
            </th>
          </tr>
        </table>
        <div class="submit-button-container">
          <%= form.submit "Save", class: "material-button" %>
        </div>
      <% end %>  
      <%= render 'pages/flash' %>
    </div>
  </div>    

  </body>
</html>