<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jimmy</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3DBAE;">
    <div class="container">
      <!-- Back button with an image and text -->
      <%= link_to students_personal_info_path, class: "navbar-brand" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'img-fluid', style: 'height: 24px;') %>
        <span class="ml-2">Back</span>
      <% end %>
      <!-- Title of the page -->
      <h1 class="navbar-text mx-auto var(--primary-text-color)">Edit Major</h1>
    </div>
  </nav>
  <div class="general-div-main">
    <div class="general-div-inner">      
      <%= form_with(model: @current_student, local: true) do |form| %>
        <table class="students-edit-info-form">
          <tr class="students-edit-info-form-row">
            <th>
              <div class="edit-form-field">
                <p class = "edit-form-label">New major</p>
                <%= form.text_field :major, placeholder: 'Major', class: 'custom-styled-input' %>
              </div>
            </th>
          </tr>
        </table>
        <div class="submit-button-container">
          <%= form.submit "Save", class: "material-button" %>
        </div>
      <% end %>  
      <%= render 'pages/flash' %>
    </div>
  </div>    

  </body>
</html>