<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Jimmy</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3DBAE;">
    <div class="container">
      <!-- Back button with an image and text -->
      <%= link_to gym_preferences_path, class: "navbar-brand" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'img-fluid', style: 'height: 24px;') %>
        <span class="ml-1 styled-back">Back</span>
      <% end %>
      <h1 class="navbar-text mx-auto my-auto var(--primary-text-color)">Gym Preferences</h1>
      <%# Centering the title with identical content on the right %>
      <div class="navbar-brand">
        <span class="right-placeholder mr-1"> Back </span>
         <%= image_tag('back_arrow.png', alt: 'Back', class: 'hidden-arrow', style: 'height: 24px;') %>
      </div>
    </div>
  </nav>
  
  <div class = "general-div-main">
    <div class="general-div-inner">
      <p class="edit-form-label">Enter your preferred workout locations</p>
      <p class = "edit-form-label edit-form-subscript">
        This will help us match you with people who workout at the same locations as you.
      </p>
      <br>
        <%= form_for @new_gym, html: { class: 'gym-select-form' } do |g| %>
          <%= g.select :gym_id, @gyms.map { |gym| [gym.name, gym.id] }, 
            { class: 'styled-select', required: true }
          %>
          <%= g.submit 'Save', class: 'material-button' %>
        <% end %>
    </div>
  </div>
</body>