<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3DBAE;">
    <div class="container">
      <% if !(@render_account_creation_nav) %>
        <%= link_to students_workout_preferences_path, class: "navbar-brand" do %>
          <%= image_tag('back_arrow.png', alt: 'Back', class: 'img-fluid', style: 'height: 24px;') %>
          <span class="ml-1 styled-back">Back</span>
        <% end %>
      <% end %>
      <h1 class="navbar-text mx-auto my-auto var(--primary-text-color)">Gym Preferences</h1>
      <%# Centering the title with identical content on the right %>
      <div class="navbar-brand">
        <span class="right-placeholder mr-1"> Back </span>
         <%= image_tag('back_arrow.png', alt: 'Back', class: 'hidden-arrow', style: 'height: 24px;') %>
      </div>
    </div>
  </nav>

  <div class = "general-div-main">
    <div class="general-div-inner"> 
      <p class="edit-form-label">Enter your preferred workout locations</p>
      <p class = "edit-form-label edit-form-subscript">
        This will help us match you with people who workout at the same locations as you.
      </p>
      <br>
      <div class="edit-workoutpref-div">
        <table summary="Added activities" class="edit-workoutpref-table">
          <% @gyms.each do |gym| %>
          <%= puts @gyms%>
            <tr class = "edit-workout-pref-table-tr">
              <td class = "edit-form-label edit-form-subscript"><%= gym.name%></td>
              <td class = "table-icon"> 
                <% gym_to_delete = GymPreference.find_by(student_email: @current_student.email, gym_id: gym.id)%>
                <%= form_with(model: gym_to_delete, url: gym_preference_path(gym_to_delete), method: :delete) do |form| %>
                  <%= form.button class: "edit-workoutpref-add-btn" do %>
                    <%= image_tag('remove_icon.png', alt: 'Delete', class: 'table-icon') %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>

          <tr class= "edit-workout-pref-table-add-tr">
            <td class = "edit-form-label"> Add Gym </td>
            <td class = "table-icon"> <%= render(partial:'add', locals:{c: "gym_preferences", a: "edit"}) %> </td>
          </tr>
        </table>
      </div>

      <% if @render_account_creation_nav %>
        <br>
        <br>
        <div class = "profile-creation-button-div">
          <div class="left">
            <%= link_to "Back", activity_preferences_path, class: "material-button dark-material-button", role: "button" %>
          </div>
          <div class = "right"><%= link_to "Next", time_preferences_index_path, class: "material-button dark-material-button" %></div>
        </div>
        <div class = "profile-creation-button-div">
          <div class="left"> </div>
          <div class = "right"><%= link_to "Skip for now", students_index_path, class: "material-button dark-material-button", role: "button" %></div>
        </div>
      <% end %>

      <%= render 'pages/flash' %>
    </div>
  </div>
</body>