<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <title>Jimmy</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F3DBAE;">
    <div class="container">
      <!-- Back button with an image and text -->
      <%= link_to students_workout_preferences_path, class: "navbar-brand" do %>
        <%= image_tag('back_arrow.png', alt: 'Back', class: 'img-fluid', style: 'height: 24px;') %>
        <span class="ml-2">Back</span>
      <% end %>
      <!-- Title of the page -->
      <h1 class="ml-auto">Gym Preferences</h1>
    </div>
  </nav>
  <h1 class="workoutpref-landing-title"> Add your preferred workout locations ... </h1>
  <div class="edit-workoutpref-div">
  <table summary="Added activities" class="edit-workoutpref-table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <% @gyms.each do |gym| %>
    <%= puts @gyms%>
    <tr>
      <td><%= gym.name%></td>
      <td> 
        <% gym_to_delete = GymPreference.find_by(student_email: @current_student.email, gym_id: gym.id)%>
        <%= form_with(model: gym_to_delete, url: gym_preference_path(gym_to_delete), method: :delete) do |form| %>
          <%= form.submit 'Delete', class: "material-symbols-outlined edit-workoutpref-add-btn" %>
        <% end %>

      </td>
    </tr>
    <% end %>

    <tr>
      <td> Add Gym </td>
      <td> <%= render(partial:'add', locals:{c: "gym_preferences", a: "edit"}) %> </td>
    </tr>
  </table>
  </div>
</body>